
.main {
	align-items: center;
	position: center;
	height: 450px;
}

.header {
	width: 942px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	border: none;
	
}

.buttons {
	width: 942px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.table {
	width: 942px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.BusinessType, .State, .City {
	border-style: solid;
	border-radius: 2px;
	left: 71px;
	top: 585px;
	width: 150px;
	height: 26px;
	background: rgba(249,231,235,1);
	border-width: 1px;
	border-color: #e5e5e5;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	font-family: Work Sans;
	font-style: normal;
	text-align: center;
}
.BusinessType:hover, .State:hover, .City:hover {
	background: rgba(237,176,189,1);
	box-shadow: none;
	color: #000000;
}

.export {
	font-weight: 400;
	font-family: Work Sans;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
	margin-top: 5px;
	margin-bottom: 5px;
}

.tableheader {
	background-color: rgb(240,240,240);
	height: 55px;
	padding-top: 1px;
	padding-left: 10px;
}